h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
    color:whitesmoke;
    margin-top: 50px;
    text-shadow: 10px 5px 10px rgb(128, 168, 241);
    font-size: 2.5em;
}
body{
    background-image: url(../imagenes/fondo2.jpg);
    background-size: cover;
    width: 90%;
    height: 90vh;
    text-shadow: 10px 5px 10px rgb(45, 102, 209); 
}
.contenedor{
    height: 200px;
    width: 300px;
    display: inline-block;
    margin-left: 128px;
    margin-top: 80px;
    border-radius: 30px;
    color: transparent;
    backdrop-filter:blur(10px);
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: whitesmoke;
    font-size: 2em;
}

li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_menu{
    height: 200px;
    width: 300px;
    display: inline-block;
    margin-left: 790px;
    margin-top: 90px;
    border-radius: 30px;
    color: transparent;
    backdrop-filter:blur(10px);

}