body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #484e51;
    margin: 0;
    background-color: #ffffff;
    background-image: url(../imagenes/inventario.jpg);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color:#000000;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(228, 241, 241);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #000000;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #8a8282;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#ffffff;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color:rgb(215, 223, 223);
    
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
    color: whitesmoke;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #ff0808;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}
a{
    text-decoration: none;
}
