
*{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 6px;
}
body{
    background-image: url(degradado.jpg);
    background-size: cover;
}
h1{
    color: rgb(32,129,173);
    text-align: center;
    margin: 30px;
}
input[type="text"]{
        padding: 6px;
        font-size: 1.2em;
        width: 300px;
        border: none;
        border-bottom: 1px solid rgb(32,129,173);
        margin: 8px; 
}
fieldset{
    height: 400px;
    width: 60px;
    border: 1px black;
    text-align: center;
    border-radius: 20px;
        width: 400px;
        background: #2b3641;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px #000;
      
}
button{
    padding: 6px;
    font-size: 0.8em;
    width: 320px;
    height: 40px;
    border-bottom: 1px solid rgb(136, 129, 129);
    border-radius: 5px;
    background-color: rgb(32, 129, 173);
    /* margin-top: 50px; */
}
.cuadro{
    padding: 40px;
    align-items: center;
    text-align: center;
    display: grid;
    justify-content: center ;
    height: 700px;
}
.contenido{
    padding-left: 20px;
    padding-right: 20px;
    
}
input[type="password"]{
    padding: 6px;
    font-size: 1.2em;
    width: 300px;
    border: none;
    margin: 30px;

}
input[type="password"]:hover{
    background-color: rgb(199, 211, 211);

}
input[type="password"],input[type="text"]{
    background-color: rgb(201, 213, 213) ;
    outline: none;
    border-radius: 5px;
    margin: 0;
}

label{
    display: block;
}

input[type="text"]:hover{
    background-color: rgb(197, 204, 204);
    border-radius: 5px;
    

}
.txt-alert-hidden{
  visibility: hidden;
    color: red;
    font-family: 'Arial Narrow';
    /* font-weight: 500; */
    margin: 0;
    font-size: 15px;
}
.txt-alert-visible{
    color: red;
    font-family:'Arial Narrow' ;
    /* font-weight: 500; */
    font-size: 15px;
}


/* alarma */

.modal-alert {
    position: fixed;
    background-color: rgba(0, 0, 1, 0.499);
    width:100% ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-alert-2{
    position: fixed;
    background-color: rgba(0, 0, 1, 0.499);
    width:100% ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-hidden2{
    visibility: hidden;
}
.alert-hidden {
    visibility: hidden;
}
.box-alert {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.mensaje{
    position: absolute;
    top: 10%;
    left: 3%;
    width: 100%;
}
.mensajeexi{
    position: absolute;
    top: 10%;
    left: 21%;
    width: 100%;
}
.btn-aceptarext{
    position: absolute;
    text-align: center;
    font-weight: 800;
    top: 235px;
    left: 150px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
    border: none;
    color: black;
    font: 1.2em;
    cursor: pointer;
}
.fa-circle-xmark {
    position: relative;
    font-size: 1.8em;
    left: 430px;
    bottom: 155px;
    color: red;  
}
.btn-aceptar {
    position: absolute;
    text-align: center;
    font-weight: 800;
    top: 235px;
    left: 150px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: red;
    border: none;
    color: black;
    font: 1.2em;
    cursor: pointer;
}
.check{
    width: 150px;
    height: 150px;
    margin-left: 125px;
    margin-top: 70px;
}
.notcheck{
    width: 150px;
    height: 150px;
    margin-left: 125px;
    margin-top: 70px;
}
