*{
    margin: 0;
    padding: 0;
    font-family: "monyserrat";
}
.modal-alert-visible{
   width: 100%;
   height: 100vh;
   position: fixed;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;

}
.modal-alert-hidden{
    display: none;

}
.box-alert{
    width: 400px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.modal-aceptar{
    position: relative;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 60px;
    background-color: red;
    border-radius: 5px;
    border: 1px solid red;
}
.form{
    margin-top:  40px;
    margin-left: 40px;
    border: 1px solid rgb(64, 64, 64,.8);
    padding: 50px;
    width: 300px;

}
.txt-nombre{
     margin-top: 20px;

}
.txt-alert-visible{
   color: red;
   font-family: "poppins";
   font-weight: 500;

}
.txt-alert-hidden{
    visibility: hidden;
    color: red;
    font-family: "poppins";
    font-weight: 500;
 
 }
.BtnEnviar{
    margin-top: 20px;
    width: 120px;
    height: 70px;
    background-color: dodgerblue;
    color: white;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;

}