label, legend {
    display: block;
    font-size: 1.6em;
}
input[type="text"] {
    margin-bottom: 20px;
    padding: 7 px;
    font-size: 1.3em;
   width: 400px;
   border: none;
   border-bottom: 1px solid rgb(64,64,64, .8);
}
input[type="text"]:focus  {
outline: none;


}
.centro {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ta{
    text-align: center;
}
.img{
    width: 100px;
    height: 200px;
margin-left: 200px;
    justify-content: center;
}
form{
    background-color: chartreuse;
}
body{
    background-color: dimgray;
}
.boton{
    margin-left: 130px;
    font-size: 1.4em;
}